{% load static %}
<article class="question-card">
    <div class="question-stats">
    <img src="{{ question.author.profile.avatar_url }}" alt="Avatar" class="avatar-lg">
        <div class="vote-widget active-down"> <button class="vote-up">▲</button>
            <span class="vote-count">{{ question.rating }}</span>
            <button class="vote-down">▼</button>
        </div>
    </div>
    <div class="question-body">
        <h2 class="question-title"><a href="{{ question.get_absolute_url }}">{{question.title}}</a></h2>
        <p class="question-excerpt">{{question.summary}}</p>
        <div class="question-footer">
            <div class="question-meta">
                <a href="{{ question.get_absolute_url }}" class="answers-link">Answers ({{question.answers_count}})</a>
                <span class="tags">
                    {% for tag in question.tags.all %}
                    <a href="/?tag={{ tag }}" class="tag">{{tag}}</a>
                    {% endfor %}
                </span>
            </div>
            <span class="post-time">{{ question.created_at|date:"d.m.Y, H:i" }}</span>
        </div>
    </div>
</article>
