{% extends 'layout/base.html' %}

{% load static %}
    {% block title %}
    <title>AlertHub - Вопрос</title>
    {% endblock %}
{% block content %}

<div class = "page-title">Вопрос от пользователя:<a href="{{question.author.profile.get_absolute_url}}">{{question.author.username}}</a></div>
        <article class="question-full">
            <div class="question-header-row">
                <div class="author-aside">
                    <a href="{{question.author.profile.get_absolute_url}}"><img src="{{ question.author.profile.avatar_url }}" alt="Avatar" class="avatar-lg"></a>
                    <div class="vote-widget">
                        <button class="vote-btn vote-up">▲</button>
                        <span class="vote-count">{{question.rating}}</span>
                        <button class="vote-btn vote-down">▼</button>
                    </div>
                </div>
                
                <div class="question-content-main">
                    <h1 class="question-title">{{question.title}}</h1>
                    <div class="question-text">
                        <p>{{question.content}}</p>
                    </div>
                    
                    <div class="question-footer">
                        <div class="tags-row">
                    {% for tag in question.tags.all %}
                    <a href="/?tag={{tag.name}}" class="tag">{{tag.name}}</a>
                    {% endfor %}
                        </div>
                        <div class="post-info">
                            <span class="post-time">{{ question.created_at|date:"d.m.Y, H:i" }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <hr class="section-divider">
        {% if page_obj%}

        <section class="answers-section">
            <h3 class = "answers-headline">Ответы ({{question.answers_count}})</h3>


    {% for answer in page_obj %}
    {% include 'questions/partials/answer.html'%}
    {% endfor %}
                </section>
    {% include 'questions/partials/pagination.html' %}
    {%else%}
    <div class = "empty-results">К сожалению ответов пока нет</div>
    {%endif%}
 {% endblock %}