{% extends 'layout/base.html' %}

{% load static %}
    {% block title %}
    <title>AlertHub - Вопрос</title>
    {% endblock %}
{% block content %}

<div class = "page-title">Вопрос от пользователя:<a href="{{question.author.profile.get_absolute_url}}">{{question.author.username}}</a></div>
        <article class="question-full">
            <div class="question-header-row">
                <div class="author-aside">
                    <a href="{{question.author.profile.get_absolute_url}}"><img src="{{ question.author.profile.avatar_url }}" alt="Avatar" class="avatar-lg"></a>
                    {% load vote_tags %} {% get_user_vote request.user question 'question' as user_vote_q %}

                    <div class="vote-widget">
                        <button class="vote-btn vote-up {% if user_vote_q == 'like' %}active{% endif %}" 
                                data-id="{{ question.id }}" 
                                data-type="question" 
                                data-action="like">
                            ▲
                        </button>
                        
                        <span class="vote-count" id="rating-question-{{ question.id }}">
                            {{ question.rating }}
                        </span>
                        
                        <button class="vote-btn vote-down {% if user_vote_q == 'dislike' %}active{% endif %}" 
                                data-id="{{ question.id }}" 
                                data-type="question" 
                                data-action="dislike">
                            ▼
                        </button>
                    </div>
                </div>
                
                <div class="question-content-main">
                    <h1 class="question-title">{{question.title}}</h1>
                    <div class="question-text">
                        <p>{{question.content}}</p>
                    </div>
                    
                    <div class="question-footer">
                        <div class="tags-row">
                    {% for tag in question.tags.all %}
                    <a href="/?tag={{tag.name}}" class="tag">{{tag.name}}</a>
                    {% endfor %}
                        </div>
                        <div class="post-info">
                            <span class="post-time">{{ question.created_at|date:"d.m.Y, H:i" }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <hr class="section-divider">
            <section class="add-answer-section">
        {% if user.is_authenticated %}
            <form method="post">
                {% csrf_token %}
                <div>
                    <label class="form-label">Добавить ответ:</label>
                    {{ form.content }}
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
        {% else %}
            <p>Ответы могут оставлять только авторизованные пользователи</p>
        {% endif %}
    </section>
        {% if page_obj%}

        <section class="answers-section">
            <h3 class = "answers-headline">Ответы ({{question.answers_count}})</h3>


    {% for answer in page_obj %}
    {% include 'questions/partials/answer.html'%}
    {% endfor %}
                </section>
    {% include 'questions/partials/pagination.html' %}
    {%else%}
    <div class = "empty-results">К сожалению ответов пока нет</div>
    {%endif%}
 {% endblock %}