{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>AskPupkin - Главная</title> -->
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="{% static '/questions/main.css'%}">
</head>
<body>

<header class="header">
    <div class="container header-content">
        <a class="logo" href="{% url 'index'%}">AskPupkin</a>
        
        <form class="search-form">
            <input type="search" placeholder="Поиск вопроса...">
        </form>

        <div class="user-nav">
            <a href="{% url 'ask' %}" class="btn btn-primary hide-mobile">Спросить!</a>
            
            <div class="logged-user">
                <img src="{% static '/questions/avatar.jpg' %}" alt="Avatar" class="user-avatar">
                <div class="user-meta">
                    <span class="user-nickname">Yuri_Shevchuk</span>
                    <div class="user-controls">
                        <a href="{% url 'profile' %}" class="control-link">Настройки</a>
                        <a href="{% url 'login' %}" class="control-link logout">Выйти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

    <main class="container main-layout">
<section class="content">
    {% block content %}
    {% endblock %}

</section>

        <aside class="sidebar">
            <section class="sidebar-block">
                <h5 class="sidebar-title">Popular Tags</h5>
                <div class="tags-cloud">
                    {% for tag in global_unique_tags %}
                    <a href="/?tag={{ tag }}" class="tag">{{tag}}</a>
                    {% endfor %}
                </div>
            </section>
            
            <section class="sidebar-block">
                <h5 class="sidebar-title">Best Members</h5>
                <ul class="members-list">
                    <li><a href="#">Yuri_Shevchuk</a></li>
                    <li><a href="#">Backend_Master</a></li>
                </ul>
            </section>
        </aside>
    </main>

    <footer class="footer">
        <div class="container">
            <small>&copy; 2026 VK Education Web Course</small>
        </div>
    </footer>

</body>
</html>